# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn/install-state.gz

# Testing
coverage/
.nyc_output/

# Next.js
.next/
out/
dist/
build/
web-build/
web-report/
next-env.d.ts

# Debug & Logs
npm-debug.*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Environment
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build & Cache
.turbo/
.cache/
.eslintcache
.temp
.tmp

# Mobile/React Native
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
android/
ios/
*.apk
*.aab
*.ipa

# IDE/Editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.nova/

# System
.DS_Store
*.pem
*.swp
*~

# Vercel
.vercel

# PWA
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

# Misc
pids
*.pid
*.seed
*.pid.lock
*.tsbuildinfo
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
